body {
    margin: 0px;
}

.welcome {
    width: 50%;
    font-size: 30px;
    font-family: font-family: 'Poppins', sans-serif;

}

.name {
    color: tomato;
}

.flexible {
    display: flex;
    padding: 5%;
}

.everything {
    background-image: url(new-one/top-banner.png);
    background-repeat: no-repeat;
}



.link-button {
    font-size: larger;
    color: aliceblue;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}

.welcome h1 {
    color: darkkhaki;
}

.welcome h3 {
    color: orange;
}

.dream-big {
    background-image: url(new-one/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    padding-top: 1cm;
}

.link-big {
    color: aliceblue;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
}

.experience {
    text-align: center;
    background-image: url(new-one/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box-shadow {
    font-family: 'Poppins', sans-serif;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}

.box-shadow h1 {
    color: tomato;
}

.box-shadow h3 {
    color: orange;
}

#full-stack {
    border-left: 7px solid orangered;
}

#baby {
    border-left: 7px solid blue;
}

footer p {
    font-family: 'Poppins',
        sans-serif;
    text-align: center;
}